.highlight{color: $color-primary;}

.labels{
	display: flex;
  	gap: 0.5rem;
  	align-items: center;	
}

form{width:100%;}
input{
	width:100%;
	display: block;
	padding: 0.5em 1em;
	height: 2.875em; //46px;
	line-height: 2.875em;
	background: $gray-100;
	&:not(:last-child){
		margin-bottom: 0.5em; //8px;
	}
}

.btn{
	display: inline-block;
	font-size: $p_font_size;
	padding: 0.375em 0.75em; //6px 12px; 
	color: $text-color-invert;
	background: $color-primary;
	cursor: pointer;
	border: none;
}

.btn:disabled{
  opacity: 0.5;
  pointer-events: none;
}

.btn-pill {
	font-size: $body_font_size_lg;
	width: fit-content;
	border-radius: 1.5em;

}

.btn-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2em; //2.75em; //44px;
	height: 2em; //2.75em; //44px;
	font-size: $h3_size_lg;
	border-radius: 100%;
}
.btn-pill, .btn-icon{
	&:hover{
		background: lighten($color-primary, 10%);
		color: $text-color-invert;
	}
}


.btn-primary{
	color: $text-color-invert;
	background: $color-primary;
	border: 0;
	padding: 0.3em 0.7em;
	
}

.btn-outline-primary{
	background: $text-color-invert;
	color: $color-primary;
	border: 1px solid $color-primary;
}


.btn-outline-dark{
	color: $text-color;
	background: $text-color-invert;
	border: 1px solid $border-color;
	&:hover{
		color: $text-color-invert;
		background: lighten($text-color, 10%);
	}
}

.btn-icon.btn-primary{}

.btn-icon.btn-plain, .btn-icon.btn-outline{
	color: $text-color;
	background: transparent;
}

.btn-icon.btn-outline{
	border: 1px solid $border-color;
}

.btn-wrap{
	display: flex;
	justify-content: center;
	padding: 0.5em 1em; //8px 16px;
	a{
		display: flex;
		gap: 0.25em;
		//font-size: $p_font_size;
		//color: $gray-800;
		//display: block;
	}
}

.search{
	border-radius: 2.5em;
    padding: 1em;
    display: flex;
    max-width: 26rem;
    //gap: 0.625em;
	align-items: center;
	border: 1px solid $border-color;


	input, input::placeholder, .bi{
		font-size: $p_font_size;
		font-weight: 500;
		color: $gray-800;
		border: 0;
		background: none;
	}
	.bi{
		font-size: $h4_size_lg;
	}
}

.cards{
	display: flex;
	gap: $gap-md; //24px;
	padding: 0;
	@media (min-width:$breakpoint-desktop){
		justify-content: flex-start;
	}
	.card{
		display: flex;
		h3, p{
			display: -webkit-box;
			-webkit-line-clamp: 2; 
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		time{
			margin-bottom: 0.25rem; //4px;
		}
	}
}

.card {
	flex-direction: column;
	.card-body{
		margin: 1rem 0; //16px;
	}
	h3{
		margin-bottom: 0.5rem; //8px;
	}
	p,li{
		color: $gray-800;
	}
	li{
		margin-bottom: 0.5rem; //8px;
	}
}