/*------------------------------------*/
/* $basic
--------------------------------------*/

/* 背景與文字 */
$color-primary: #0027D5;
$color-disable: #B2BEF2;

$text-color: #000;               // 主要文字
$text-color-invert: #fff;        // 深色背景用白字
$text-color-muted: #888;         // 淡色說明文字

$bg-body: #FBFBFB;
$bg-surface: #fff;  
$bg-container: $bg-surface;
$bg-card: $bg-surface;


/* 灰階 */
$gray-100: #f5f5f5;  // 最淺
$gray-200: #ededed;
$gray-600: #6C757D;
$gray-800: #4b4b4b;  // 最深


/* 選取 */
$color-selection-bg: $color-primary;
$color-selection-text: $text-color-invert;

/* 連結 */
$link-text-color: $text-color;         // 連結字色（預設）
$link-bg-color: transparent;       // 連結底色（預設）

$link-hover-text-color: $color-primary;      // 滑過連結字色
$link-hover-bg-color: transparent;     // 滑過連結底色（常為主色）

$link-active-text-color: $color-primary;

$border-color: $text-color;




/* font */
$html_font_size_lg: 100%; 
$html_font_size_xs: 90%; 

$body_font_size_lg: 1rem;
$body_font_size_xs: 1rem;

$font_color: $text-color;
$font_weight_normal: 400;

$font_size_lg: 1.02em;
$font_size_sm: 1em;
$font_size_xs: 0.9em;

$line_height_lg: 1.2em;
$line_height_sm: $line_height_lg;
$line_height_xs: $line_height_lg;

$letter_spacing: 0.05em;

/* p */
$p_font_size: 1rem ; //16px;

/* heading */
$h1_size_lg: 6.4rem; //7.5rem; //120px;
$h1_size_sm: 5rem; 
$h1_size_xs: 3.25rem; //52px;

$h2_size_lg: 4rem; //64px;
$h2_size_sm: $h2_size_lg;
$h2_size_xs: 3rem; //48px;

$h3_size_lg: 1.75rem ; //28px;
$h3_size_sm: $h3_size_lg;
$h3_size_xs: $h3_size_lg;

$h4_size_lg: 1.5rem; //24px;
$h4_size_sm: $h4_size_lg;
$h4_size_xs: $h4_size_lg;


$h5_size_lg: 1.2em;
$h5_size_sm: $h5_size_lg;
$h5_size_xs: $h5_size_lg;

$h6_size_lg: 1.08em;
$h6_size_sm: $h6_size_lg;
$h6_size_xs: 1em;

/* RWD */
$screen-xxl: 120em;    // 1920px（選配）大型電視或展示螢幕
$screen-xl:  90em;     // 1440px 桌機大螢幕
$screen-lg:  75em;     // 1200px 桌機一般，容器最大寬度
$screen-md-lg: 64em;   // 1024px（iPad橫）
$screen-md:  62em;     // 992px Bootstrap 預設
$screen-m:   60em;     // 960px 小筆電
$screen-sm:  50em;     // 800px 平板直向
$screen-xs:  37.5em;   // 600px 手機橫向
$screen-xxs: 32.25em; //500px;32em;     // 512px 中小手機
$screen-xxxs: 22.5em;  // 360px 小手機

$breakpoint-desktop: $screen-sm; // 超過這寬度才套用「桌機排版」


//a 連結
$a_link_color: $link-text-color;
$a_active_color: $link-text-color;
$a_hover_color: $link-text-color;
$a_visited_color: $link-text-color;


//間距
$pagging_lg: 3.75em; //60px;
$pagging_sm: 2.5em; //40px;
$pagging_xs: 1.875em; //30px; 
$margin_lg: 3.75em; //60px;
$margin_sm: 2.5em; //40px;
$margin_xs: 1.875em; //30px;

$pagging_extra_lg: 5.625em; //90px;
$pagging_extra_sm: $pagging_sm;
$pagging_extra_xs: $pagging_extra_sm;

$margin_button_lg: 3.75em; //60px;

//gap
$gap-xs: 0.5rem;
$gap-sm: 1rem;
$gap-md: 1.5rem;
$gap-lg: 2rem;
$gap-xl: 2.5rem;


//高寬
$full_width: 100%;
$full_height: 100%;

//邊框
$border_width: 1px;
$border_style: solid;
//$border_color: $colorMain2;

//箭頭線
//$arrow_border_color: $border_color;

//ICON
$icon_size_lg: 2.75rem; //1.5rem;
$icon_size_sm: $icon_size_lg;
$icon_size_xs: 2.75rem; //1.5rem;
$icon_color: $color-primary;


/* z-index */
$zindex_nav_menu: 9999;
